* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: 'FiraGO';
    src: url(fonts/FiraGO-Regular.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf);
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   
}
header {
    padding: 10px;
    width: 100%;
}
.logo-content {
    display: flex;
}
.logo-title {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.logo-title h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
}
li {
    padding: 10px;
}

.sanadze-content {
    width: 100%;
    background: #EFEFEF;
    background-image: url(images/section-main-pic.svg);
    background-repeat: no-repeat;
    background-size:contain ;
    display: flex;
    margin-top: 50px;
}
.sanadze-picture-content {
    width: 100%;
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.sanadze-picture {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dato-ratings {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dato-ratings span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(80, 80, 80, 0.5);
}
.dato-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.dato-stars span {
    padding: 3px;
}
.dato-sanadze-title-content {
    width: 100%;
    display: flex;
    margin-left: 20px;
    margin-top: 250px;
    flex-direction: column;
    justify-content: center;
    align-items:start;

}
.dato-sanadze-title h2 {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.dato-sanadze-job {
    margin-top: 15px;
}
.dato-sanadze-job span {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(80, 80, 80, 0.5);
}
.dato-sanadze-tbilisi-georgia {
    margin-top: 15px;
}
.dato-sanadze-tbilisi-georgia span {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(80, 80, 80, 0.5);
}
.dato-sanadze-tab span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #505050;
    background: #D9D9D9;
    border-radius: 13px;
}
.my-portfolio-content {
    width: 100%;
    background: #D9D9D9;
    margin-top: 50px;
    padding: 2%;
    margin-bottom: 100px;
}
.sanadze-content {
    display: flex;
    justify-content: start;
}
.my-portfolio-title {
    width: 100%;
}
.my-portfolio-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;    
}
.portfolio-blocks {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.portfolio-blocks > div {
    padding: 2%;
}
.portfolio-blocks div img {
    width: 100%;
}
.about-me-section {
    width: 100%;
    background: #D9D9D9;
}
.dato-sanadze-tab {
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.dato-sanadze-tab div {
    padding-left: 20px;
}
.about-me-section-title {
    width: 100%;
}
.about-me-section-title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;    
}
.about-me-section {
    margin-top: 50px;
    padding: 2%;
}
.about-me-section-text {
    width: 100%;
    margin-top: 20px;
}
.about-me-section-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: rgba(80, 80, 80, 0.5);    
}
@media(max-width:1024px) {
    .portfolio-blocks {
        display: block;
    }
}

@media(max-width:560px) {
    .sanadze-picture-content {
        display: block;
        margin-left: 1px;
    }
    .dato-sanadze-title-content {
        margin-left: 1px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dato-sanadze-title {
        display: flex;
        justify-content: center;
    }
    .dato-sanadze-tab {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}